.advantages__wrapper {
  @media (max-width: $mobile-width) {
    padding-top: 32px;
    padding-bottom: 11px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-right: 124px;
    padding-bottom: 53px;
    padding-left: 124px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-right: 349px;
    padding-bottom: 41px;
    padding-left: 347px;
  }
}

.advantages__intro {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  @media (max-width: $mobile-width) {
    position: relative;
  }
}

.advantages__text::after {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 49px;

    display: block;
    min-width: $block-width-mobile;
    height: 37px;

    content: "";
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__list-special-wrapper {
  background-color: $light-blue;
  color: $white;

  @media (max-width: $mobile-width) {
    padding-top: 55px;
    padding-right: 12px;
    padding-bottom: 39px;
    padding-left: 12px;

    text-align: center;
  }

  @media (min-width: $tablet-width) {
    max-width: 256px;
    padding-top: 40px;
    padding-right: 28px;
    padding-bottom: 43px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    max-width: $max-width-desktop;
    padding-top: 47px;
    padding-right: 52px;
    padding-bottom: 56px;
    padding-left: 53px;
  }
}

.advantages__list-special-number,
.advantages__list-special-text,
.advantages__list-features-text,
.advantages__list-text,
.advantages__list-number {
  margin: 0;
  padding: 0;

  line-height: 21px;
}

.advantages__list-special-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
  }
}

.advantages__list-special-title {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 83px;
    padding-right: 83px;
  }
}

.advantages__list-special-number {
  margin-bottom: 17px;
}

.advantages__list-features {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__list-features-item {
  display: block;

  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__list-features-item--house {
  position: relative;

  padding-top: 35px;
  padding-right: 11px;
  padding-bottom: 13px;
  padding-left: 69px;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    padding-right: 37px;
    padding-bottom: 60px;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 159px;
    padding-right: 52px;
    padding-bottom: 80px;
    padding-left: 58px;
  }
}

.advantages__list-features-item--house::before {
  position: absolute;
  top: 26px;
  left: 21px;

  width: 39px;
  height: 37px;

  content: "";
  background-image: url("../img/icon-house.svg");
  background-size: cover;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: 90px;

    width: 75px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    top: 59px;
    left: 161px;
  }
}

.advantages__list-features-item--souvenirs {
  position: relative;

  padding-top: 13px;
  padding-right: 21px;
  padding-bottom: 13px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 169px;
    padding-right: 30px;
    padding-bottom: 70px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 158px;
    padding-right: 78px;
    padding-bottom: 80px;
    padding-left: 60px;
  }
}

.advantages__list-features-item--souvenirs::before {
  position: absolute;
  top: 3px;
  left: 25px;

  width: 32px;
  height: 38px;

  content: "";
  background-image: url("../img/icon-gift.svg");
  background-size: cover;

  @media (min-width: $tablet-width) {
    top: 57px;
    left: 100px;

    width: 64px;
    height: 75px;
  }

  @media (min-width: $desktop-width) {
    top: 57px;
    left: 159px;

    width: 64px;
    height: 76px;
  }
}

.advantages__list-features-item--food {
  position: relative;

  padding-top: 13px;
  padding-right: 40px;
  padding-bottom: 35px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    padding-right: 35px;
    padding-bottom: 59px;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 157px;
    padding-right: 60px;
    padding-bottom: 81px;
    padding-left: 52px;
  }
}

.advantages__list-features-item--food::before {
  position: absolute;
  top: 8px;
  left: 18px;

  width: 40px;
  height: 36px;

  content: "";
  background-image: url("../img/icon-burger.svg");
  background-size: cover;

  @media (min-width: $tablet-width) {
    top: 64px;
    left: 90px;

    width: 76px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    top: 63px;
    left: 158px;

    width: 76px;
    height: 69px;
  }
}

.advantages__list-features-title {
  display: inline-block;
  margin-bottom: 23px;
  vertical-align: middle;
}

.advantages__list-special-item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

.advantages__list-special-wrapper:nth-child(2) {
  padding-top: 39px;
}

.advantages__list-special-item img {
  @media (max-width: $mobile-width) {
    display: block;
    order: 2;
  }

  @media (min-width: $tablet-width) {
    height: 256px;
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__list-special-item p:nth-child(3) {
  @media (min-width: $tablet-width) {
    padding-right: 9px;
    padding-left: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 31px;
    padding-left: 31px;
  }
}

//Почему- то паддинги применяет только к последнему из трех

.advantages__list-item {

  text-align: center;

  background-color: $grey-background;

  @media (max-width: $mobile-width) {
    padding-top: 25px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-right: 34px;
    padding-bottom: 42px;
    padding-left: 33px;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-right: 43px;
    padding-bottom: 62px;
    padding-left: 42px;
    width: $max-width-desktop;
  }
}

.advantages__list-title {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-right: 26px;
    padding-left: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 89px;
    padding-left: 89px;
  }
}

.advantages__list-number {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__list-text {
  @media (min-width: $tablet-width) {
    padding-right: 21px;
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.advantages__list-text:first-child {
  @media (min-width: $tablet-width) {
    padding-right: 6px;
    padding-left: 6px;
  }
}
