.contacts {
  display: flex;
  width: auto;
  margin: 0;

  font-weight: bold;
  font-size: 21px;

  @media (max-width: $mobile-width) {
    padding-top: 37px;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 46px;
    padding-left: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
  }
}
