.developer {
  display: flex;
  justify-content: center;

  @media (max-width: $mobile-width) {
    padding-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding-top: 43px;
    padding-right: 60px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
  }
}

.developer__text {
  margin-top: 6px;
  margin-bottom: auto;
  font-weight: normal;
}

.developer__link {
  display: block;
  margin-left: 12px;

  @media (max-width: $mobile-width) {
    margin-top: 3px;
  }
}

.developer svg {
  vertical-align: middle;

  box-sizing: content-box;

  &:hover,
  &:focus {
    fill: $light-blue;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}
