.feedback__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px 35px 40px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 120px;
  }
}

.feedback__form fieldset {
  border: none;
}

.feedback__form-wrapper {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  @media (max-width: $mobile-width) {
    border-top: $block-border;
  }

  &--impression div,
  &--attractions div {
    height: 48px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &--impression input,
  &--attractions input {
    display: none;
  }

  &--impression label,
  &--attractions label {
    position: relative;

    padding-top: 10px;
    padding-left: 74px;

    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }

  &--impression label::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $grey;

    content: "";
  }

  &--impression label::after {
    position: absolute;
    left: 15px;
    top: 15px;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $black;

    content: "";
  }

  &--attractions label::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 48px;
    height: 48px;
    background-color: $grey;

    content: "";
  }

  &--attractions label::after {
    position: absolute;
    left: 15px;
    top: 15px;

    width: 18px;
    height: 18px;
    background-color: $black;

    content: "";
  }

  @media (min-width: $tablet-width) {
    flex-basis: 100%;

    &--meeting {
      flex-basis: 50%;
    }

    &--contacts {
      display: flex;
      flex-direction: column;
    }

    &--impression {
      flex-basis: 50%;
      order: -1;
    }

    &--review {
      position: relative;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      flex-direction: row;
    }
  }
}

.feedback__form .feedback__form-wrapper:nth-child(2) {
  @media (max-width: $mobile-width) {
    padding-bottom: 28px;
  }
}

.feedback__form .feedback__form-wrapper:nth-child(3) {
  @media (max-width: $mobile-width) {
    padding-bottom: 27px;
  }
}

.feedback__form-legend {
  margin-right: auto;
  margin-bottom: 19px;
  margin-left: auto;

  font-weight: bold;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.feedback__form-input {
  padding-top: 18px;
  padding-right: 22px;
  padding-bottom: 14px;
  padding-left: 22px;
  height: 58px;
  width: 100%;

  border: 2px solid transparent;
  background-color: $grey;

  &::placeholder {
    //font-family: "PT Sans";
    font-weight: bold;
    font-size: 18px;
  }

  &--phone {
    background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='58' height='58' fill='%23E6E6E6'/%3E%3Cpath d='M24.6 27.8C26 30.6 28.4 32.9 31.2 34.4L33.4 32.2C33.7 31.9 34.1 31.8 34.4 32C35.5 32.4 36.7 32.6 38 32.6C38.6 32.6 39 33 39 33.6V37C39 37.6 38.6 38 38 38C28.6 38 21 30.4 21 21C21 20.4 21.4 20 22 20H25.5C26.1 20 26.5 20.4 26.5 21C26.5 22.2 26.7 23.4 27.1 24.6C27.2 24.9 27.1 25.3 26.9 25.6L24.6 27.8Z' fill='%23010101'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }


  &--email {
    background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='58' height='58' fill='%23E6E6E6'/%3E%3Cpath d='M29 31C28.7 31 28.5 30.9 28 30.7L21 27V34C21 34.5 21.5 35 22 35H36C36.5 35 37 34.5 37 34V27L30 30.7C29.5 30.9 29.3 31 29 31ZM36 23H22C21.5 23 21 23.5 21 24V24.8L29 29L37 24.8V24C37 23.5 36.5 23 36 23Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {

    &--phone,
    &--email {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &--phone,
    &--email {
      width: auto;
    }
  }
}

.feedback__form-input-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;

  &--contacts {
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 35%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;

    &--contacts {
      flex-basis: 50%;
      flex-wrap: nowrap;
    }
  }
}

.feedback__form-input-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.feedback__form-label {
  margin-right: 10px;

  &--phone {
    margin-left: 22px;
    margin-bottom: 8px;
  }

  &--email {
    margin-left: 21px;
    margin-bottom: 5px;
  }
}

.feedback__form-review-text {
  width: 100%;
  height: 160px;
  padding: 13px 20px;
  margin-bottom: 51px;
  border: none;

  background-color: $grey;

  &::placeholder {
    //font-family: "PT Sans";
    font-weight: bold;
    font-size: 18px;
  }
}

.feedback__form-attractions {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feedback__form-review-button {
  @media (min-width: $tablet-width) {
    width: 50%;
    height: 58px;
  }
}

.feedback__form-note {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 10px;
    bottom: 37px;
  }
}

.feedback__form-contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
