/*.main-nav { подумать нужно ли!!!
  position: relative;
  width: auto;
  min-height: 51px;
}*/

.main-nav__list {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;

  background-color: $light-blue;

  @media (max-width: $mobile-width) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 153px 1fr 1fr 153px;
    grid-template-rows: auto;
    align-content: center;
    margin-left: 34px;
    margin-right: 34px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 227px 1fr 1fr 227px;
    grid-template-rows: auto;
    align-content: center;
    margin-left: 72px;
    margin-right: 72px;
  }
}

.main-nav__list a {
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
  }
}

.main-nav__toggle-wrapper {
  @media (max-width: $mobile-width) {
    position: relative;

    height: 56px;
  }
}

.main-nav__toggle {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 17px;
    right: 20px;


    display: block;
    width: 23px;
    height: 22px;
    margin-left: auto;

    background-color: $white;
    border: none;

    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--close {
  span {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;

    width: 100%;
    height: 4px;

    font-size: 0;

    background-color: $light-blue;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: $light-blue;

    content: "";
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background-color: $light-blue;

    content: "";
  }
}

.main-nav__toggle--open {
  span {
    opacity: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: $white;

    content: "";
    transform: rotate(-45deg);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: $white;

    content: "";
    transform: rotate(45deg);
  }
}

.main-nav__list-wrapper {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-nav__list--open {
  .main-nav__list-wrapper {
    display: block;
  }
}

.site-list__item {
  @media (max-width: $mobile-width) {
    border-top: 1px solid $dark-blue;
    border-bottom: 1px solid $light-blue;
  }
}

.site-list__item:nth-child(4n+3) {
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.site-list__item:nth-child(4n+4) {
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}
