.page-header {
  position: relative;

  min-width: 56px;
}

.page-header-logo {
  position: absolute;
  top: 168px;
  left: calc((100% - #{$logo-width-mobile}) / 2);
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    //left: calc((100% - #{$logo-width-desktop}) / 2);
  }
}
