/*.page {
  height: 100%;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);
}

.page-body {
  min-height: 100%;
}*/
