.proposition__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}
.proposition__text {
  line-height: 24px;
  text-align: center;
}
.proposition__form-wrapper {
  text-align: center;
}
