.proposition {
  @media (max-width: $mobile-width) {
    padding-top: 33px;
    padding-bottom: 49px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.proposition__title {
  font-weight: bold;
  font-size: 21px;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.proposition__text {
  line-height: 24px;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
    padding: 0 29px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.proposition__text br {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.proposition__form-wrapper {
  @media (max-width: $mobile-width) {
    max-width: 280px;
    max-height: 58px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    max-width: $form-width;
    max-height: 58px;
    margin-right: auto;
    margin-left: auto;
  }
}

.proposition__form-button {
  display: block;
  padding-top: 16px;
  text-align: center;

  &:disabled {
    background-color: $grey-hover;
  }

  @media (min-width: $tablet-width) {
    width: $form-width;
    height: 58px;
  }
}
