@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.page {
  height: 100%;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--basic-black); }

.page-body {
  min-height: 100%;
  margin: 0; }

.site-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.button {
  line-height: 21px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  outline: none; }

.form-button {
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  color: #ffffff;
  background-color: #81b3d2; }
  @media (max-width: 767px) {
    .form-button {
      width: 280px;
      height: 58px; } }

.input {
  border: 0;
  outline: none; }

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }

.text {
  margin: 0;
  padding: 0; }

@media (min-width: 1200px) {
  .hidden {
    display: none; } }

.page-header {
  position: relative; }
  @media (max-width: 767px) {
    .page-header {
      padding-bottom: 56px; } }

.page-header__logo {
  position: absolute;
  bottom: -28px;
  left: calc((100% - 102px) / 2);
  z-index: 1; }
  @media (min-width: 768px) {
    .page-header__logo {
      top: 0; } }
  @media (min-width: 1200px) {
    .page-header__logo {
      left: calc((100% - 187px) / 2); } }

.page-header__logo img {
  vertical-align: middle; }
  @media (min-width: 1200px) {
    .page-header__logo img {
      width: 187px;
      height: 96px; } }

.main-nav {
  position: relative;
  width: auto; }
  @media (min-width: 768px) {
    .main-nav {
      padding-top: 16px;
      padding-bottom: 14px; } }

@media (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    top: 18px;
    right: 14px;
    display: block;
    width: 23px;
    height: 22px;
    background-color: transparent;
    border: none;
    outline: none; }
    .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 4px;
      background-color: #81b3d2;
      box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }
    .main-nav__toggle:hover::before, .main-nav__toggle:focus::before {
      background-color: rgba(129, 179, 210, 0.6);
      box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.6), 0 16px 0 0 rgba(129, 179, 210, 0.6); }
    .main-nav__toggle:active::before {
      background-color: rgba(129, 179, 210, 0.3);
      box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3); } }

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; } }

.main-nav--open .main-nav__toggle {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 22px;
  height: 22px; }
  .main-nav--open .main-nav__toggle::before, .main-nav--open .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 0;
    width: 24px;
    height: 4px;
    background-color: #ffffff; }
  .main-nav--open .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--open .main-nav__toggle::after {
    transform: rotate(-45deg); }
  .main-nav--open .main-nav__toggle:hover {
    cursor: pointer;
    opacity: 60%; }
  .main-nav--open .main-nav__toggle:active {
    opacity: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none; }

.main-nav--open {
  position: relative;
  bottom: 0;
  left: 0; }

@media (max-width: 767px) {
  .main-nav--close .main-nav__list {
    display: none; } }

.main-nav--nojs .main-nav__list {
  display: block; }

.main-nav--nojs .main-nav__toggle {
  display: none; }

.main-nav--open::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%); }

.main-nav__list {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px; }
  @media (min-width: 768px) {
    .main-nav__list {
      display: grid;
      grid-template-columns: 153px 1fr 1fr 153px;
      grid-template-rows: auto;
      align-content: center;
      margin-left: 34px;
      margin-right: 34px;
      font-size: inherit;
      line-height: inherit;
      background-color: #ffffff; } }
  @media (min-width: 1200px) {
    .main-nav__list {
      display: grid;
      grid-template-columns: 227px 1fr 1fr 227px;
      grid-template-rows: auto;
      align-content: center;
      margin-left: 72px;
      margin-right: 72px; } }

@media (max-width: 767px) {
  .main-nav__link {
    display: block;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2); }
    .main-nav__link[href]:hover, .main-nav__link[href]:focus {
      background-color: #669ec0; }
    .main-nav__link:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5496bd; } }

@media (min-width: 768px) {
  .main-nav__link {
    border: none;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff; }
    .main-nav__link:hover, .main-nav__link:focus {
      color: #81b3d2;
      background-color: transparent; }
    .main-nav__link:active {
      color: black;
      background-color: transparent; }
    .main-nav__link--active {
      color: #766357;
      background-color: transparent; }
      .main-nav__link--active:hover, .main-nav__link--active:focus {
        color: #604e43;
        background-color: transparent; }
      .main-nav__link--active:active {
        color: rgba(118, 99, 87, 0.3);
        background-color: transparent; } }

@media (min-width: 768px) {
  .main-nav__item:nth-child(4n+3) {
    text-align: right; } }

@media (min-width: 768px) {
  .main-nav__item:nth-child(4n+4) {
    text-align: right; } }

.greetings {
  position: relative;
  display: flex;
  min-height: 389px;
  min-width: 320px;
  background-image: url("../img/bg-back-mobile@1x.jpg"), linear-gradient(to right bottom, #86b7d5, #e1ab84);
  background-size: cover;
  background-repeat: no-repeat; }

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .greetings {
    background-image: url("../img/bg-back-mobile@2x.jpg"), linear-gradient(to right bottom, #86b7d5, #e1ab84);
    background-size: 320px 389px; } }
  @media (min-width: 768px) {
    .greetings {
      min-height: 518px;
      background-image: url("../img/bg-back-tablet@1x.jpg"), linear-gradient(to right bottom, #86b7d5, #e1ab84); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .greetings {
      background-image: url("../img/bg-back-tablet@2x.jpg"), linear-gradient(to right bottom, #86b7d5, #e1ab84);
      background-size: 768px auto; } }
  @media (min-width: 1200px) {
    .greetings {
      background-image: url("../img/bg-back-desktop@1x.jpg"), linear-gradient(to right bottom, #86b7d5, #e1ab84); } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
    .greetings {
      background-image: url("../img/bg-back-mobile@2x.jpg"), linear-gradient(to right bottom, #86b7d5, #e1ab84);
      background-size: 1200px auto; } }

.greetings::after {
  position: absolute;
  bottom: 0;
  display: block;
  min-width: 320px;
  height: 26px;
  content: "";
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .greetings::after {
      min-width: 768px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg"); } }
  @media (min-width: 1200px) {
    .greetings::after {
      min-width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg"); } }

.greetings__title {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .greetings__title {
      margin-top: 77px;
      width: 460px;
      height: 350px; } }
  @media (min-width: 1200px) {
    .greetings__title {
      margin-top: 78px; } }

.greetings-short {
  min-height: 158px;
  margin-bottom: 19px;
  background-size: 100%; }
  @media (min-width: 768px) {
    .greetings-short {
      min-height: 289px; } }
  @media (min-width: 1200px) {
    .greetings-short {
      min-height: 301px; } }

.greetings-short::after {
  position: absolute;
  bottom: 0; }

.greetings-short__title {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .greetings-short__title {
      margin-top: 66px;
      width: 457px;
      height: 78px; } }
  @media (min-width: 1200px) {
    .greetings-short__title {
      margin-top: 100px;
      width: 460px;
      height: 80px; } }

@media (max-width: 767px) {
  .advantages__wrapper {
    position: relative;
    padding-top: 32px;
    padding-bottom: 11px; } }

@media (min-width: 768px) {
  .advantages__wrapper {
    margin-top: 44px;
    margin-right: 124px;
    margin-bottom: 53px;
    margin-left: 124px; } }

@media (min-width: 1200px) {
  .advantages__wrapper {
    margin-top: 55px;
    margin-right: 349px;
    margin-bottom: 41px;
    margin-left: 347px; } }

@media (max-width: 767px) {
  .advantages__wrapper::after {
    position: absolute;
    top: 100%;
    display: block;
    min-width: 320px;
    height: 37px;
    content: "";
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat; } }

.advantages__intro {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center; }
  @media (max-width: 767px) {
    .advantages__intro {
      font-size: 21px;
      margin-right: 26px;
      margin-bottom: 30px;
      margin-left: 26px; } }
  @media (min-width: 768px) {
    .advantages__intro {
      margin-bottom: 29px; } }
  @media (min-width: 1200px) {
    .advantages__intro {
      margin-bottom: 32px; } }

.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center; }
  @media (max-width: 767px) {
    .advantages__text {
      padding-right: 18px;
      padding-left: 17px; } }

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap; } }

.advantages__list-special-wrapper {
  background-color: #81b3d2;
  color: #ffffff; }
  @media (max-width: 767px) {
    .advantages__list-special-wrapper {
      padding-top: 71px;
      padding-right: 12px;
      padding-bottom: 37px;
      padding-left: 13px;
      text-align: center; } }
  @media (min-width: 768px) {
    .advantages__list-special-wrapper {
      max-width: 256px;
      height: 256px;
      padding-top: 42px;
      padding-right: 28px;
      padding-bottom: 43px;
      padding-left: 28px; } }
  @media (min-width: 1200px) {
    .advantages__list-special-wrapper {
      max-width: 400px;
      padding-top: 47px;
      padding-right: 52px;
      padding-bottom: 56px;
      padding-left: 53px; } }

.advantages__list-special-number,
.advantages__list-special-text,
.advantages__list-features-text,
.advantages__list-text,
.advantages__list-number {
  margin: 0;
  padding: 0;
  line-height: 21px; }

@media (min-width: 768px) {
  .advantages__list-special-item {
    display: flex;
    flex-wrap: wrap;
    text-align: center; } }

@media (min-width: 768px) {
  .advantages__list-special-item picture {
    height: 256px; } }

.advantages__list-special-title {
  margin-bottom: 11px; }
  @media (min-width: 768px) {
    .advantages__list-special-title {
      margin-bottom: 13px;
      font-size: 21px; } }

.advantages__list-special-number {
  margin-bottom: 18px; }
  @media (min-width: 768px) {
    .advantages__list-special-number {
      margin-bottom: 23px; } }

@media (max-width: 767px) {
  .advantages__list-features {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 768px) {
  .advantages__list-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } }

.advantages__list-features-item {
  display: block;
  text-align: left; }
  @media (min-width: 768px) {
    .advantages__list-features-item {
      text-align: center; } }

.advantages__list-features-item--house {
  position: relative;
  padding-top: 35px;
  padding-right: 11px;
  padding-bottom: 13px;
  padding-left: 69px; }
  @media (min-width: 768px) {
    .advantages__list-features-item--house {
      padding-top: 160px;
      padding-right: 37px;
      padding-bottom: 60px;
      padding-left: 36px; } }
  @media (min-width: 1200px) {
    .advantages__list-features-item--house {
      padding-top: 159px;
      padding-right: 52px;
      padding-bottom: 80px;
      padding-left: 58px; } }

.advantages__list-features-item--house::before {
  position: absolute;
  top: 26px;
  left: 21px;
  width: 39px;
  height: 37px;
  content: "";
  background-image: url("../img/icon-house.svg");
  background-size: cover; }
  @media (min-width: 768px) {
    .advantages__list-features-item--house::before {
      top: 60px;
      left: 90px;
      width: 75px;
      height: 72px; } }
  @media (min-width: 1200px) {
    .advantages__list-features-item--house::before {
      top: 59px;
      left: 161px; } }

.advantages__list-features-item--souvenirs {
  position: relative;
  padding-top: 13px;
  padding-right: 21px;
  padding-bottom: 13px;
  padding-left: 70px; }
  @media (min-width: 768px) {
    .advantages__list-features-item--souvenirs {
      padding-top: 160px;
      padding-right: 30px;
      padding-bottom: 70px;
      padding-left: 34px; } }
  @media (min-width: 1200px) {
    .advantages__list-features-item--souvenirs {
      padding-top: 158px;
      padding-right: 78px;
      padding-bottom: 80px;
      padding-left: 60px; } }

.advantages__list-features-item--souvenirs::before {
  position: absolute;
  top: 3px;
  left: 25px;
  width: 32px;
  height: 38px;
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-size: cover; }
  @media (min-width: 768px) {
    .advantages__list-features-item--souvenirs::before {
      top: 58px;
      left: 96px;
      width: 64px;
      height: 75px; } }
  @media (min-width: 1200px) {
    .advantages__list-features-item--souvenirs::before {
      top: 57px;
      left: 166px;
      width: 64px;
      height: 76px; } }

.advantages__list-features-item--food {
  position: relative;
  padding-top: 13px;
  padding-right: 40px;
  padding-bottom: 35px;
  padding-left: 70px;
  order: 1; }
  @media (min-width: 768px) {
    .advantages__list-features-item--food {
      padding-top: 160px;
      padding-right: 49px;
      padding-bottom: 59px;
      padding-left: 49px;
      order: 0; } }
  @media (min-width: 1200px) {
    .advantages__list-features-item--food {
      padding-top: 157px;
      padding-right: 60px;
      padding-bottom: 81px;
      padding-left: 52px; } }

.advantages__list-features-item--food::before {
  position: absolute;
  top: 8px;
  left: 18px;
  width: 40px;
  height: 36px;
  content: "";
  background-image: url("../img/icon-burger.svg");
  background-size: cover; }
  @media (min-width: 768px) {
    .advantages__list-features-item--food::before {
      top: 64px;
      left: 90px;
      width: 76px;
      height: 68px; } }
  @media (min-width: 1200px) {
    .advantages__list-features-item--food::before {
      top: 63px;
      left: 160px;
      width: 76px;
      height: 69px; } }

.advantages__list-features-title {
  display: inline-block;
  margin-bottom: 16px;
  vertical-align: middle; }
  @media (min-width: 768px) {
    .advantages__list-features-title {
      margin-bottom: 23px; } }

.advantages__list-special-item:nth-child(2) {
  display: flex;
  flex-wrap: wrap; }

.advantages__list-special-wrapper:nth-child(2) {
  padding-top: 39px; }
  @media (min-width: 768px) {
    .advantages__list-special-wrapper:nth-child(2) {
      padding-top: 43px;
      padding-right: 36px;
      padding-left: 36px; } }
  @media (min-width: 1200px) {
    .advantages__list-special-wrapper:nth-child(2) {
      padding-right: 78px;
      padding-left: 79px; } }

@media (max-width: 767px) {
  .advantages__list-special-item img {
    display: block;
    order: 2; } }

@media (min-width: 768px) {
  .advantages__list-special-item img {
    height: 256px;
    width: 512px; } }

@media (min-width: 1200px) {
  .advantages__list-special-item img {
    width: 800px; } }

@media (min-width: 1200px) {
  .advantages__list-special-item p:nth-child(3) {
    padding-right: 15px;
    padding-left: 15px; } }

.advantages__list-item {
  text-align: center;
  background-color: #eeeeee; }
  @media (max-width: 767px) {
    .advantages__list-item {
      position: relative;
      padding-top: 26px;
      padding-right: 26px;
      padding-bottom: 24px;
      padding-left: 26px; } }
  @media (min-width: 768px) {
    .advantages__list-item {
      padding-top: 42px;
      padding-right: 34px;
      padding-bottom: 42px;
      padding-left: 33px;
      width: 256px; } }
  @media (min-width: 1200px) {
    .advantages__list-item {
      padding-top: 43px;
      padding-right: 43px;
      padding-bottom: 62px;
      padding-left: 42px;
      width: 400px; } }

@media (max-width: 767px) {
  .advantages__list-item:not(:last-of-type)::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
    content: ""; } }

@media (max-width: 767px) {
  .advantages__list li:nth-child(4) {
    padding-top: 25px;
    padding-right: 41px;
    padding-left: 42px; } }

@media (min-width: 768px) {
  .advantages__list li:nth-child(4) {
    padding-right: 56px;
    padding-left: 52px; } }

@media (min-width: 1200px) {
  .advantages__list li:nth-child(4) {
    padding-right: 62px;
    padding-left: 62px; } }

@media (max-width: 767px) {
  .advantages__list li:nth-child(5) {
    padding-top: 27px;
    padding-right: 31px;
    padding-left: 31px; } }

@media (min-width: 768px) {
  .advantages__list li:nth-child(5) {
    padding-right: 40px;
    padding-left: 41px; } }

@media (min-width: 1200px) {
  .advantages__list li:nth-child(5) {
    padding-right: 55px;
    padding-left: 55px; } }

.advantages__list-title {
  margin-bottom: 11px; }
  @media (min-width: 768px) {
    .advantages__list-title {
      margin-bottom: 12px; } }
  @media (min-width: 1200px) {
    .advantages__list-title {
      font-size: 21px; } }

@media (max-width: 767px) {
  .advantages__list-title br,
  .advantages__list-special-title br {
    display: none; } }

.advantages__list-number {
  margin-bottom: 17px; }
  @media (min-width: 768px) {
    .advantages__list-number {
      margin-bottom: 25px; } }

@media (max-width: 767px) {
  .proposition {
    padding-top: 33px;
    padding-bottom: 49px; } }

@media (min-width: 768px) {
  .proposition {
    padding-top: 57px;
    padding-bottom: 58px; } }

@media (min-width: 1200px) {
  .proposition {
    padding-bottom: 66px; } }

.proposition__title {
  font-weight: bold;
  font-size: 21px;
  text-align: center; }
  @media (max-width: 767px) {
    .proposition__title {
      margin-bottom: 23px; } }
  @media (min-width: 768px) {
    .proposition__title {
      margin-bottom: 31px;
      font-size: 30px; } }
  @media (min-width: 1200px) {
    .proposition__title {
      margin-bottom: 33px; } }

.proposition__text {
  line-height: 24px;
  text-align: center; }
  @media (max-width: 767px) {
    .proposition__text {
      margin-bottom: 27px;
      padding: 0 29px; } }
  @media (min-width: 768px) {
    .proposition__text {
      margin-bottom: 38px; } }
  @media (min-width: 1200px) {
    .proposition__text {
      margin-bottom: 42px; } }

@media (max-width: 767px) {
  .proposition__text br {
    display: none; } }

@media (max-width: 767px) {
  .proposition__form-wrapper {
    max-width: 280px;
    max-height: 58px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 768px) {
  .proposition__form-wrapper {
    max-width: 458px;
    max-height: 58px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 768px) {
  .proposition__form-button {
    width: 458px;
    height: 58px; } }

.page-footer {
  display: grid; }
  @media (min-width: 768px) {
    .page-footer {
      grid-template-columns: 1fr 1fr 1fr;
      min-height: 120px;
      align-items: center; } }

.review__title {
  margin-top: 30px;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 18px;
  text-align: center; }
  @media (min-width: 768px) {
    .review__title {
      margin-top: 65px;
      margin-bottom: 31px;
      font-size: 30px;
      line-height: 26px; } }
  @media (min-width: 1200px) {
    .review__title {
      margin-top: 100px; } }

.review__text {
  padding-right: 15px;
  padding-left: 15px;
  line-height: 24px;
  text-align: center; }
  @media (max-width: 767px) {
    .review__text {
      padding-bottom: 32px; } }
  @media (min-width: 768px) {
    .review__text {
      padding-right: 6px;
      padding-left: 5px;
      margin-right: 165px;
      margin-bottom: 78px;
      margin-left: 165px; } }
  @media (min-width: 1200px) {
    .review__text {
      margin-right: 380px;
      margin-bottom: 81px;
      margin-left: 380px; } }

@media (min-width: 768px) {
  .review__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px; } }

@media (min-width: 1200px) {
  .review__list {
    margin: 0; } }

@media (max-width: 767px) {
  .review__item img {
    display: block;
    margin-top: 22px;
    margin-right: 20px;
    margin-left: 20px; } }

.review__item {
  line-height: 24px; }
  @media (max-width: 767px) {
    .review__item {
      border-top: 1px solid #e5e5e5; } }
  @media (min-width: 1200px) {
    .review__item {
      position: relative; } }

@media (min-width: 768px) {
  .review__item:first-child {
    width: 100%; } }

@media (min-width: 768px) {
  .review__item:nth-child(n+2) {
    width: 50%; } }

@media (min-width: 1200px) {
  .review__item:nth-child(n+2) {
    width: 400px; } }

@media (max-width: 767px) {
  .review__item:last-child {
    border-bottom: 1px solid #e5e5e5; } }

@media (min-width: 768px) {
  .review__item:first-child img {
    display: block;
    width: 100%;
    height: 400px; } }

@media (min-width: 768px) {
  .review__item:nth-child(n+2) img {
    display: block;
    width: 100%;
    height: 267px; } }

.review__caption-wrapper {
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .review__caption-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      min-height: 80px;
      padding-top: 22px;
      background-color: #f2f2f2; } }
  @media (min-width: 1200px) {
    .review__caption-wrapper {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 100%;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.3); } }

.review__text-wrapper {
  margin-bottom: 13px; }
  @media (min-width: 768px) {
    .review__text-wrapper {
      align-self: center; } }

.review__photo-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .review__photo-title {
      margin-top: -7px; } }

.review__author {
  text-transform: none; }
  @media (max-width: 767px) {
    .review__author {
      margin-bottom: 10px; } }

.review__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4px; }
  @media (min-width: 768px) {
    .review__button-wrapper {
      margin-right: 9px; } }

.review__button {
  background-color: transparent;
  padding: 0; }

.review__icon-like {
  fill: #000000;
  opacity: 0.3; }
  @media (min-width: 1200px) {
    .review__icon-like {
      fill: #ffffff;
      opacity: 1; } }

.review__like-number {
  margin-left: 14px;
  font-weight: bold;
  line-height: 24px; }
  @media (min-width: 768px) {
    .review__like-number {
      align-self: center;
      margin-left: 9px; } }

.video-promo {
  padding-top: 0;
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .video-promo {
      margin-left: 60px;
      margin-right: 60px; } }
  @media (min-width: 1200px) {
    .video-promo {
      margin-left: 200px;
      margin-right: 200px; } }

.video-promo__title {
  margin-top: 32px;
  margin-bottom: 25px;
  text-align: center; }
  @media (min-width: 768px) {
    .video-promo__title {
      margin-top: 59px;
      font-size: 30px; } }
  @media (min-width: 1200px) {
    .video-promo__title {
      margin-top: 63px;
      margin-bottom: 29px; } }

.video-promo__wrapper {
  position: relative; }
  @media (min-width: 768px) {
    .video-promo__wrapper {
      margin-bottom: 40px; } }

.video-promo__picture {
  position: relative;
  max-width: 320px;
  width: 100%;
  height: 201px;
  margin-bottom: 102px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat; }

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .video-promo__picture {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 320px auto; } }
  @media (min-width: 768px) {
    .video-promo__picture {
      height: 500px;
      max-width: 648px;
      background-image: url("../img/video-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .video-promo__picture {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 768px auto; } }
  @media (min-width: 1200px) {
    .video-promo__picture {
      max-width: 800px;
      margin-bottom: 40px;
      background-image: url("../img/video-desktop@1x.jpg"); } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
    .video-promo__picture {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 1200px auto; } }

.video-promo__text {
  padding-left: 28px;
  padding-right: 26px;
  margin-bottom: 35px;
  text-align: center; }
  @media (min-width: 768px) {
    .video-promo__text {
      margin-bottom: 67px; } }

@media (max-width: 767px) {
  .video-promo__text br {
    display: none; } }

.video-promo__controls {
  position: absolute;
  z-index: 1;
  top: 156px;
  display: flex;
  flex-wrap: wrap;
  min-width: 280px;
  height: 93px;
  align-items: center;
  margin-left: 20px; }
  @media (min-width: 768px) {
    .video-promo__controls {
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      top: 407px;
      width: 100%;
      background-color: #000000;
      opacity: 0.6; } }

.video-promo__slider {
  position: relative;
  display: flex;
  align-items: center;
  align-self: start;
  min-height: 45px;
  width: 100%;
  background-color: #000000;
  opacity: 0.6; }
  @media (min-width: 768px) {
    .video-promo__slider {
      width: 389px;
      margin-left: 42px;
      margin-right: 42px;
      align-self: center;
      opacity: 1; } }
  @media (min-width: 1200px) {
    .video-promo__slider {
      width: 540px; } }

.video-promo__scale {
  position: relative;
  height: 3px;
  width: 100%;
  min-width: 235px;
  margin-left: 22px;
  margin-right: 22px;
  background-color: #ffffff;
  opacity: 0.2; }
  @media (min-width: 768px) {
    .video-promo__scale {
      margin-left: 0;
      margin-right: 0; } }

.video-promo__toggle {
  position: absolute;
  left: 20%;
  height: 1px;
  width: 1px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 6px solid #ffffff; }
  @media (min-width: 768px) {
    .video-promo__toggle {
      left: 113px;
      opacity: 1; } }
  @media (min-width: 1200px) {
    .video-promo__toggle {
      left: 111px; } }

.video-promo__button {
  margin: 0;
  padding-bottom: 22px;
  padding-top: 22px;
  border: none;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .video-promo__button {
      background-color: transparent; } }
  .video-promo__button:hover path,
  .video-promo__button:focus path {
    fill: #000000; }
  .video-promo__button:active path {
    opacity: 0.3; }
  .video-promo__button--repeat {
    padding-left: 25px; }
    @media (min-width: 768px) {
      .video-promo__button--repeat {
        order: -1;
        margin-left: 35px; } }
  .video-promo__button--subtitles {
    padding-right: 31px;
    padding-left: 157px; }
  .video-promo__button--fullsize {
    padding-right: 23px; }
    @media (min-width: 768px) {
      .video-promo__button--fullsize {
        margin-right: 41px; } }

@media (min-width: 768px) {
  .video-promo__icon path {
    fill: #ffffff; } }

.map__wrapper {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .map__wrapper {
      width: 320px;
      background-image: url("../img/bg-map-marker-mobile@1x.jpg"); } }
  @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
    .map__wrapper {
      background-image: url("../img/bg-map-marker-mobile@2x.jpg");
      background-size: 320px 350px; } }
  @media (min-width: 768px) {
    .map__wrapper {
      width: 768px;
      background-image: url("../img/bg-map-marker-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .map__wrapper {
      background-image: url("../img/bg-map-marker-tablet@2x.jpg");
      background-size: 768px auto; } }
  @media (min-width: 1200px) {
    .map__wrapper {
      width: 1200px;
      background-image: url("../img/bg-map-marker-desktop@1x.jpg"); } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
    .map__wrapper {
      background-image: url("../img/bg-map-marker-desktop@2x.jpg");
      background-size: 1200px auto; } }

.map__wrapper iframe {
  width: 100%; }

.contacts {
  display: flex;
  width: auto;
  margin: 0;
  font-weight: bold;
  font-size: 21px; }
  @media (max-width: 767px) {
    .contacts {
      padding-top: 38px;
      justify-content: center; } }
  @media (min-width: 768px) {
    .contacts {
      padding-top: 49px;
      padding-bottom: 46px;
      padding-left: 59px; } }
  @media (min-width: 1200px) {
    .contacts {
      padding-left: 120px; } }

.social {
  display: grid;
  grid-template-columns: 46px 46px 46px;
  align-content: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  justify-content: center;
  height: 120px; }

.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2; }

.social__link {
  display: flex;
  height: 100%; }

.social__item svg {
  margin: auto; }

.developer {
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    .developer {
      padding-bottom: 23px; } }
  @media (min-width: 768px) {
    .developer {
      justify-content: flex-end;
      padding-top: 43px;
      padding-right: 60px;
      padding-bottom: 43px; } }
  @media (min-width: 1200px) {
    .developer {
      padding-right: 120px; } }

.developer__text {
  margin-top: 6px;
  margin-bottom: auto;
  font-weight: normal; }

.developer__link {
  display: block;
  margin-left: 12px; }

.developer img {
  vertical-align: middle;
  box-sizing: content-box; }

.feedback__title {
  margin-top: 36px;
  margin-bottom: 29px;
  font-weight: bold;
  font-size: 18px;
  text-align: center; }
  @media (min-width: 768px) {
    .feedback__title {
      margin-top: 64px;
      font-size: 30px;
      line-height: 36px; } }
  @media (min-width: 1200px) {
    .feedback__title {
      margin-top: 114px; } }

.feedback__text {
  padding-right: 6px;
  padding-left: 8px;
  margin-bottom: 16px;
  line-height: 24px;
  text-align: center; }
  @media (min-width: 768px) {
    .feedback__text {
      margin-right: 160px;
      margin-bottom: 30px;
      margin-left: 158px; } }
  @media (min-width: 1200px) {
    .feedback__text {
      margin-right: 378px;
      margin-left: 372px; } }

@media (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    padding: 17px 40px 35px 40px; }
    .feedback-form div:nth-child(3) {
      flex-basis: 50%;
      order: -1; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .feedback-form div:nth-child(3)::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 292px;
        background-color: #d6d6d6; } }

@media (min-width: 768px) {
    .feedback-form div:nth-child(1) {
      flex-basis: 50%;
      margin-bottom: 26px; }
    .feedback-form div:nth-child(2) {
      margin-bottom: 11px; }
    .feedback-form div:nth-child(4) {
      margin-bottom: 24px; } }

@media (min-width: 1200px) {
  .feedback-form {
    padding-top: 7px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-left: 100px; } }

.feedback-form__wrapper {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  width: 100%; }
  @media (max-width: 767px) {
    .feedback-form__wrapper {
      border-top: 1px solid #e5e5e5; } }

@media (min-width: 1200px) {
  .feedback-form__list--contact {
    display: flex; } }

@media (min-width: 768px) {
  .feedback-form__list--places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; } }

.feedback-form__fieldset {
  position: relative;
  border: none; }

@media (min-width: 768px) {
  .feedback-form__fieldset--contact,
  .feedback-form__fieldset--places,
  .feedback-form__fieldset--review {
    border-top: 1px solid #d6d6d6; } }

.feedback-form__legend {
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
  font-weight: bold; }
  @media (max-width: 767px) {
    .feedback-form__legend {
      font-size: 18px;
      line-height: 26px; } }
  @media (min-width: 768px) {
    .feedback-form__legend {
      margin-bottom: 55px;
      font-size: 21px;
      line-height: 26px; } }

@media (min-width: 768px) {
  .feedback-form__legend--attractions {
    margin-bottom: 68px; } }

@media (min-width: 768px) {
  .feedback-form__legend--contact {
    margin-bottom: 21px;
    padding-right: 46px;
    padding-left: 47px; } }

@media (min-width: 1200px) {
  .feedback-form__legend--contact {
    margin-bottom: 71px;
    padding-right: 62px;
    padding-left: 60px; } }

.feedback-form__legend--places {
  text-align: center; }
  @media (min-width: 768px) {
    .feedback-form__legend--places {
      margin-bottom: 42px;
      padding-right: 46px;
      padding-left: 48px; } }

@media (min-width: 768px) {
  .feedback-form__legend--review {
    margin-bottom: 42px;
    padding-right: 62px;
    padding-left: 60px; } }

@media (min-width: 1200px) {
  .feedback-form__legend--review {
    padding-right: 61px;
    padding-left: 59px; } }

.feedback-form__item {
  position: relative;
  display: flex;
  align-items: center; }
  .feedback-form__item--meeting:not(:last-child) {
    margin-bottom: 20px; }
  .feedback-form__item--meeting input {
    margin-left: 15px; }
  @media (min-width: 768px) {
    .feedback-form__item--meeting label {
      padding-left: 38px; } }
  @media (min-width: 1200px) {
    .feedback-form__item--meeting label {
      padding-left: 59px; } }

.feedback-form__item--contact {
  flex-direction: column;
  align-items: flex-start; }
  .feedback-form__item--contact label {
    margin-bottom: 8px;
    margin-left: 20px; }
  .feedback-form__item--contact:not(:last-child) {
    margin-bottom: 14px; }
  @media (min-width: 768px) {
    .feedback-form__item--contact:not(:last-child) {
      margin-bottom: 25px; } }
  @media (min-width: 1200px) {
    .feedback-form__item--contact {
      flex-direction: row;
      flex-basis: 50%;
      align-items: center; }
      .feedback-form__item--contact label {
        margin-right: 17px;
        margin-bottom: 0;
        margin-left: 0; }
      .feedback-form__item--contact:not(:last-child) {
        margin-bottom: 0; } }

.feedback-form__item--checkbox {
  margin-bottom: 43px; }
  @media (min-width: 768px) {
    .feedback-form__item--checkbox {
      flex-basis: 35%; } }
  @media (min-width: 1200px) {
    .feedback-form__item--checkbox {
      flex-basis: 25%; } }

.feedback-form__input {
  width: 100%;
  height: 58px;
  padding-top: 18px;
  padding-right: 22px;
  padding-bottom: 14px;
  padding-left: 22px;
  font-family: inherit;
  border: 4px solid transparent;
  background-color: #f2f2f2;
  overflow: hidden; }
  .feedback-form__input::-moz-placeholder {
    font-weight: bold;
    font-size: 18px; }
  .feedback-form__input::placeholder {
    font-weight: bold;
    font-size: 18px; }
  .feedback-form__input:hover {
    background-color: #e5e5e5; }
  .feedback-form__input:active {
    background-color: #ffffff;
    border-color: #e5e5e5; }
  .feedback-form__input:focus {
    background-color: #ffffff;
    border-color: #e5e5e5; }

@media (min-width: 1200px) {
  .feedback-form__input--contact {
    width: 257px; } }

.feedback-form__label-checkbox {
  position: relative;
  display: block;
  padding-left: 79px;
  font-weight: bold;
  font-size: 18px;
  text-transform: none; }

.feedback-form__input-checkbox + label::before {
  position: absolute;
  left: 0;
  top: -9px;
  width: 48px;
  height: 48px;
  background-color: #f2f2f2;
  content: ""; }

.feedback-form__input-checkbox--round + label::before {
  border-radius: 50%; }

.feedback-form__input-checkbox:checked + label::after {
  position: absolute;
  left: 13px;
  top: 7px;
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  content: ""; }

.feedback-form__input-checkbox--round:checked + label::after {
  position: absolute;
  left: 15px;
  top: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #000000;
  content: ""; }

.feedback-form__icon {
  position: absolute;
  top: 34px;
  right: 0;
  width: 58px;
  height: 58px;
  padding-top: 20px;
  padding-right: 19px;
  padding-bottom: 20px;
  padding-left: 21px;
  background-color: #e6e6e6; }
  @media (min-width: 1200px) {
    .feedback-form__icon {
      top: 0;
      right: 80px; } }

@media (min-width: 1200px) {
  .feedback-form__icon--email {
    right: 2px; } }

.feedback-form__review-text {
  width: 100%;
  height: 160px;
  padding: 13px 20px;
  margin-bottom: 51px;
  font-family: inherit;
  border: none;
  background-color: #f2f2f2; }
  .feedback-form__review-text::-moz-placeholder {
    font-weight: bold;
    font-size: 18px; }
  .feedback-form__review-text::placeholder {
    font-weight: bold;
    font-size: 18px; }

@media (min-width: 768px) {
  .feedback-form__review-button {
    width: 50%;
    height: 58px; } }

@media (max-width: 767px) {
  .feedback-form__note {
    display: none; } }

@media (min-width: 768px) {
  .feedback-form__note {
    position: absolute;
    right: 20px;
    bottom: 40px; } }

.popup--error {
  width: 320px;
  height: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 42px;
  padding-bottom: 35px;
  padding-left: 41px; }
  @media (min-width: 768px) {
    .popup--error {
      padding-top: 46px;
      padding-right: 50px;
      padding-bottom: 47px;
      padding-left: 49px; } }
  @media (min-width: 768px) {
    .popup--error {
      width: 400px;
      height: 347px; } }

.popup__title {
  margin-bottom: 38px;
  text-align: center; }
  @media (min-width: 768px) {
    .popup__title {
      font-size: 30px;
      line-height: 40px; } }

@media (max-width: 767px) {
  .popup__title br {
    display: none; } }

.popup__text {
  margin-bottom: 25px;
  text-align: center; }

.popup__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 58px; }
  @media (min-width: 768px) {
    .popup__button {
      width: 257px; } }

@media (min-width: 768px) {
  .popup--success {
    width: 640px;
    height: 347px;
    margin-right: auto;
    margin-left: auto; } }

.popup__wrapper {
  padding-top: 38px;
  padding-right: 51px;
  padding-bottom: 29px;
  padding-left: 51px; }

.popup__button-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .popup__button-wrapper {
      padding-top: 44px;
      padding-bottom: 44px; } }

@media (min-width: 768px) {
  .popup__button--success {
    width: 457px; } }

/*# sourceMappingURL=style.css.map */
