//Colors

$light-blue: #81b3d2;
$blue: #669ec0;
$dark-blue: #5496bd;
$white: #ffffff;
$black: #000000;
$grey-background: #eeeeee;
$grey: #f2f2f2;
$grey-hover: #e5e5e5;
$grey-down: #d5d5d5;
$bground-greetings-gradient-from: #86b7d5;
$bground-greetings-gradient-to: #e1ab84;

//Devices

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Widths
$logo-width-mobile: 102px;
$logo-width-desktop: 187px;
$block-width-mobile: 320px;
$max-width-desktop: 400px;
$form-width: 458px;
$tablet-max-width: 768px;
$margin-mobile-photo: 20px;

//Others
$block-border: 1px solid #e5e5e5;
