//Colors

$light-blue: #81b3d2;
$blue: #669ec0;
$dark-blue: #5496bd;
$white: #ffffff;
$black: #000000;
$black-hover: #333333;
$grey-background: #eeeeee;
$grey: #f2f2f2;
$grey-icon: #e6e6e6;
$grey-hover: #e5e5e5;
$grey-body: #e7e5e5;
$grey-down: #d5d5d5;
$grey-line: #d6d6d6;
$grey-special: #766357;
$grey-active: #604e43;
$grey-medium: #5c6870;
$grey-menu-dark: rgba(#010101, 0.2%);
$grey-menu-light: rgba(#ffffff, 0.2%);
$basic-body-shadow: rgba(0, 0, 0, 0.5);
$invalid: #e93333;
$bground-greetings-gradient-from: #86b7d5;
$bground-greetings-gradient-to: #e1ab84;

//Devices

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Widths
$logo-width-mobile: 102px;
$logo-width-desktop: 187px;
$block-width-mobile: 320px;
$max-width-desktop: 400px;
$form-width: 458px;
$tablet-max-width: 768px;
$margin-mobile-photo: 20px;
$block-height: 256px;
$popup-height: 347px;

//Others
$block-border: 1px solid #e5e5e5;
